:root {
    /* Default (light) mode */
    --md-primary-fg-color: #3C74B4;
    --md-primary-fg-color--light: #5C8FD0;
    --md-primary-fg-color--dark: #2E5F94;
    --md-accent-fg-color: #3C74B4;
  }
  
  [data-md-color-scheme="slate"] {
    /* Dark mode */
    --md-primary-fg-color: #23272f;
    --md-primary-fg-color--light: #2e3440;
    --md-primary-fg-color--dark: #181a20;
    --md-accent-fg-color: #444857;
  }